html,
body {
  height: 100%;
  font-size: 12px;
  font-family: Arial, Veranda
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -21px;
}

#content {
  padding-top: 7px;
}

#push,
#footer {
  height: 20px;
}

#footer {
  border-top: solid 1px darkgray;
  font-size: 8pt;
  background-color: #f5f5f5;
}

.automargins {
  margin: 0 auto;
}
.error {
  color: red;
}
.help-inline {
  color: red;
}

form .required {
  font-weight: bold;
}

form .required label:after {
  color: #e32;
  content: '*';
  display:inline;
}

.hcenter-nofloat { float: none; margin-left: auto; margin-right: auto; }

fieldset {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: solid 1px gray;
}

.label-div {
  padding-top: 6px;
  padding-bottom: 3px;
}

table tr.even.row_selected td {
  background-color: #B0BED9 !important;
}
table tr.odd.row_selected td {
  background-color:#9FAFD1 !important;
}

#dropListTable tr:hover td {
  background-color: #f5f5f5;
}

#formTable tr td {
  padding-left: 10px;
  padding-right: 10px;
}

.column-filter-set{
  font-weight:bold;
  background-color: lightsteelblue!important;
}	

.grid-table th, .grid-table td {
  border: solid 1px lightgray;
  padding: 2px 4px 2px 4px;
}
.comment {
  font-style:italic;
  font-size:11px !important;
  color: #333333;
  text-align: left;
}

.projectLink {
  cursor: pointer;
}

.qcLink {
  cursor: pointer;
}

.errorblock {
    color: #ff0000;
    background-color: #ffEEEE;
    padding: 8px;
    margin: 16px;
}
.simpleError {
    color: #ff0000;
    background-color: #ffEEEE;
}
.page-title{
    padding:0;
    margin:0;
    font-size:16px;
    font-style:italic;
    padding-bottom:2px;
    margin-bottom:14px;
    border-bottom: solid 1px #d3d3d3;
}
.panel-body{
    padding:0;
    padding:14px;
    margin:0;
}
.navbar { position: static; }
.navbar .nav > ul li ul li { z-index: 1001; }

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar-collapse{
    background:#f5f5f5;
}
.env-div {
  margin:10px;
}

.env-detail-div {
    margin:0 10px 10px 0;
    padding:5px;
    background:white;
}
.panel-title {
    margin:0 0px 0 0px;
    font-style:italic;
}
.env-detail-div .table{
    padding:0px;
    margin:0px;
}
.env-detail-div .table th, .env-detail-div .table td{
    margin: 0px;
    padding: 2px;
    padding-right: 4px;
}
a.accordion-toggle{
    cursor: pointer;
}
.accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    font-size:10px;
    content: "\e114";
    color:gray;
    float:right;
}
.accordion-toggle.collapsed:after {
    content: "\e080";
}
.same-key-first {
  border-top: solid 1px #8aa5cf;
}

